<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <a href="/">Return</a>
    <h1> <%= locals.title %> </h1>
    <form method="POST" action="/new">
        <input type="text" name="author" placeholder="Author" required>
        <input type="text" name="message" placeholder="Message" required>
        <button type="submit">Submit</button>
    </form>  
</body>
</html>